@media (max-width: 768px) {
    
    header {
        position:unset;
        display: flex;
       height: 180px;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    main {
        padding: 0;
    }

    .header_nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    
    .aboutUs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 4rem 3rem;
    }

    .services_content {
        display: flex;
        flex-direction: column;
    }
    
    .contact_infos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    
}

@media (max-width: 560px) {

    .header_nav {
        padding-right: 30px;
    }

    .nav_itens a {
        font-size: 0.85rem;
    }
    .aboutUs_img img {
        width: 310px;
    }

    .service_item {
        padding: 1rem 2rem;
    }

    .contact_infos {
        grid-template-columns: repeat(1, 1fr);
    }

    .group {
        flex-direction: column;
        gap: 5px;
    }

    .form_item {
        margin-bottom: 0;
    }
    
    .form_item input, textarea, button {
        font-size: 1rem;
        border-radius: 5px;
        padding: 0.2rem 0.3rem;
        border: 0.5px solid black;
    }
    
    .form_item input {
        width: 60vw;
    }

}