@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

html {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    background-color: var(--whiteGray);
}

:root {
    --text_black : #000;
    --whiteGray: #f3f3f3;
    --whiteOrigin: #fff;
    --blueTurq: #adffff;
    --blueStrong: #81d8e4;
    --blueOrigin: #00BFFF;
    --green: #00FF7F;
    --greenLight: #90EE90;
}

/* Header */

header {
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--blueOrigin);
}

.header_logo {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header_logo img {
    width: 56px;
}

.header_nav {
    display: flex;
    gap: 4.5rem;
}

.nav_itens {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.nav_itens a {
    text-decoration: none;
    color: var(--text_black);
    transition: all 0.3s ease-in;
    border: 3px solid transparent
}

.nav_itens a:hover {
    font-weight: bold;
    border-bottom:3px solid var(--text_black);
}

.nav_number {
    display: flex;
}

.nav_number a {
    text-decoration: none;
    padding: 0.6rem 1.1rem;
    border: 1px solid transparent;
    background-color: var(--blueStrong);
    transition: all 0.8s ease-in-out;
    color: black;
}

.nav_number a:hover {
    border: 1px solid var(--text_black);
    background-color: var(--whiteOrigin);
}   

.nav_number i {
    margin-right: 0.75rem;
}

/* Sections */

main {
    padding-top: 100px;
}

/* About Us Section */

.aboutUs {
    display: flex;
    justify-content: space-around;
    background-color: var(--whiteOrigin);
    margin: 0rem 3rem;
}

.aboutUs_text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2.5rem;
    padding: 4rem 2rem;
}

.aboutUs_text h1 {
    font-size: 2.4rem;
}

.aboutUs_text p {
    font-size: 1rem;
    text-align: justify;
}

.aboutUs_text a {
    padding: 0.8rem;
    font-size: 1rem;
    text-decoration: none;
    color: var(--text_black);
    border: 1px solid transparent;
    background-color: var(--blueOrigin);
    transition: all 0.4s ease-in-out;
}
.aboutUs_text a:hover {
    background-color: var(--whiteOrigin);
    border: 1px solid var(--text_black);
    font-weight: bolder;
}

.aboutUs_img {
    padding: 0rem 6rem;
}

.aboutUs_img img {
    width: 420px;
}

/* Services Section */

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    background-color: var(--whiteOrigin);
    padding: 3rem;
    margin: 3rem;
}

.services h2 {
    font-size: 1.5rem;
}

.services_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-self: center;
    gap: 5rem;
}

.service_item {
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    box-shadow: 5px 5px 10px 10px var(--whiteGray);
}

.service_item h3 {
    font-size: 1.3rem;
}

.service_item p {
    text-align: center;
}

/* Contacts Section */

.contact {
    background-color: var(--whiteOrigin);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin: 3rem;
}

.contact h2 {
    font-size: 1.5rem;
}

.contact_infos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact_item {
    width: 260px;
    height: 195px;
    background-color: var(--blueOrigin);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 2rem 0rem 2rem;
    gap: 1rem;
    box-shadow: 5px 8px 8px var(--whiteGray);
    cursor: pointer;
}

.contact_item i {
    padding-bottom: 1rem;
    color: var(--text_black);
    
}

.contact_item:hover {
    opacity: 80%;
}

.contact_item p {
    text-align: center;
    font-size: 0.8rem;
}

/* Contacts Section */

.talkWithUs {
    background-color: var(--whiteOrigin);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin: 3rem;
}

.contact h2 {
    font-size: 1.5rem;
}

.form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.group {
    display: flex;
    gap: 40px;
    border: 0;
}

.form_item {
    margin-bottom: 1rem;
}

.form_item input, textarea, button {
    font-size: 1rem;
    border-radius: 5px;
    padding: 0.2rem 0.3rem;
}

.form_item input {
    width: 16vw;
}

.form_item label {
    margin-bottom: 0.2rem;
    display: block;
    font-weight: bolder;
}

.form_item textarea {
    resize: none;
}

.form_button {
    display: flex;
    justify-content: center;
}

.form button {
    font-size: 1.2em;
    padding: 0.2rem 2.4rem;
    background: var(--blueOrigin);
    border: 0;
    margin-bottom: 1em;
    color: var(--whiteOrigin);
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.form button:hover {
    transform: scale(1.05);
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}
