@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

html {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    background-color: var(--whiteGray);
}

:root {
    --text_black : #000;
    --whiteGray: #f3f3f3;
    --whiteOrigin: #fff;
    --blueTurq: #adffff;
    --blueStrong: #81d8e4;
    --blueOrigin: #00BFFF;
    --green: #00FF7F;
    --greenLight: #90EE90;
}

/* Header */

header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--whiteOrigin);
}

.header_logo {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header_logo img {
    width: 56px;
}

.header_nav {
    display: flex;
    gap: 4.5rem;
}

.nav_itens {
    display: flex;
    justify-content: ce;
    align-items: center;
    gap: 2.5rem;
}

.nav_itens a {
    text-decoration: none;
    color: var(--text_black);
    transition: all 0.3s ease-in;
    border: 3px solid transparent
}

.nav_itens a:hover {
    color: var(--blueOrigin);
    border-bottom:3px solid var(--blueOrigin);
}

.nav_number {
    display: flex;
}

.nav_number a {
    text-decoration: none;
    padding: 0.6rem 1.1rem;
    border: 1px solid transparent;
    background-color: var(--blueOrigin);
    transition: all 0.8s ease-in-out;
}

.nav_number a:hover {
    border: 1px solid var(--text_black);
    background-color: var(--whiteOrigin);
}   

.nav_number i {
    margin-right: 0.75rem;
}

/* Sections */

section {
    margin: 3rem;
}


/* About Us Section */

.aboutUs {
    display: flex;
    justify-content: space-around;
    background-color: var(--whiteOrigin);
}

.aboutUs_text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2.5rem;
    padding: 4rem 2rem;
}

.aboutUs_text h1 {
    font-size: 2.4rem;
}

.aboutUs_text p {
    font-size: 1rem;
    text-align: center;
}

.aboutUs_text a {
    padding: 0.8rem;
    font-size: 1rem;
    text-decoration: none;
    color: var(--text_black);
    border: 1px solid transparent;
    background-color: var(--blueOrigin);
    transition: all 0.4s ease-in-out;
}
.aboutUs_text a:hover {
    background-color: var(--whiteOrigin);
    border: 1px solid var(--text_black);
    font-weight: bolder;
}

.aboutUs_img {
    padding: 0rem 6rem;
}

.aboutUs_img img {
    width: 420px;
}